# Archivo de configuración para el servidor. Se quita '.example' en producción

APP_ENV=development # cambiar a production en el despliegue. Ahora está en modo local
FLASK_DEBUG=false # evita el modo debug de Flask, mejorando la seguridad
SECRET_KEY=@Aula3 # protege sesiones, cookies firmadas, mensajes flash y token CSRF
DATABASE_URL=sqlite:///instance/bbdd.sqlite

# En producción, se deben cambiar los parámetros a TRUE
SESSION_COOKIE_SECURE=false # control de cookie de sesión, la cual se debe enviar sólo por HTTPS
SESSION_COOKIE_SAMESITE=Lax # control de cuándo el browser envía cookies de sesión viniendo desde otro sitio web
SESSION_LIFETIME_MINUTES=60 # control de duración de la sesión (caducidad)
MAX_CONTENT_LENGTH=1048576 # define el tamaño máximo de datos que la APP aceptará (1MB expresado en bytes en este caso)

# Seguridad
SECURITY_HEADERS_ENABLED=true # activación de cabeceras HTTP seguras (protección contra ciberataques)
CSRF_ENABLED=true # evita el Cross-Site Request Forgery, ataque externo que intenta obligar a que el navegador envíe acciones a la APP sin permiso
REQUIRE_LOGIN=true # se exige autenticación para ingresar en el CRUD

# Administración
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123 # en producción, se cambiará por ADMIN_PASSWORD_HASH